.cabecalho__menu__hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;/*permite adicionar maegens*/
    padding: 1em;
}
.container{
    display: flex;
    align-items: center;
}
.container__imagem{
    padding: 1em;
}
.lista__menu{
    display: none;
    position: absolute;/*permite movimentar de acordo com elemento pai diferente de static*/
    top: 100%;
    width: 60vw;
}
.container__botao:checked ~ .lista__menu{/*quando o checkbox esta ativo chama a lista__menu*/
    display: block;
    
}

.lista__menu__titulo, .lista__menu__item{
    padding: 1em;
    background-color: var(--branco);
}
.lista__menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}
.lista__menu__link{
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.container__botao{
    display: none;
}
.container__titulo{
    display: none;
}
.opcoes{
    display: none;
}
.container__botao:checked ~ .container__rotulo > .cabecalho__menu__hamburguer{
    background-image: url(../img/Menu\ Aberto.svg);
}
.container__botao:checked ~.container__rotulo{
    background: var(--azulDegrade);
}
@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo__negrito{
        font-family: var(--fontSecundaria);
        font-size: 30px;
    }
    .container__titulo{
        font-weight: 400;
        display: block;
    }
    .container__titulo__negrito{
        font-weight: 700;
    }
    .opcoes{
        display: flex;
    }
    .opcoes__itens{
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opcoes__link{
        color: var(--preto);
    }
    .favoritos{
        display: none;
    }
    .cabecalho__menu__hamburguer{
        display: none;
    }
    .opcoes__botao:checked ~ .lista__menu{
        display: block;
        width: auto;
    }
    .opcoes__botao{
        display: none;
    }
    .opcoes__botao:checked ~.opcoes__rotulo > .opcoes__itens{
        background: var(--azulDegrade);
        color: var(--branco);
    }
    .opcoes__itens{
        padding: 2em 1em;
    }
    .lista__menu__item:hover{
        background: var(--azulDegrade);
    }
    .lista__menu__item:hover > .lista__menu__link{
        -webkit-text-fill-color: var(--branco);;
    }
}
.container__texto{
    display: none;
}
@media screen and (min-width: 1728px) {
    .container__link{
        display: flex;
        align-items: center;
        color: var(--preto);
    }
    .cabecalho{
        padding: 0 2em;
    }
    .opcoes{
        margin-right: auto;
    }
    .container__texto{
        display: block;
    }
}

